*, *::before, *::after {
    box-sizing: border-box;
    font-family: sans-serif;
    font-weight: normal;
}
body {
    padding: 0;
    margin: 0;
    background: linear-gradient(to right, pink, purple);
}

#heading {
    color: black;
    font-size: 80px;
    padding-left: 460px;
}

.calculator-whole {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

button {
    cursor: pointer;
    font-size: 2rem;
    border: 3px solid rgb(206, 121, 206);
    outline: none;
    background-color: black;
    color: wheat;
    

}

#bottom-left-corner {
    border-bottom-left-radius: 40px;
}
#bottom-right-corner {
    border-bottom-right-radius: 40px;
}


.span-two {
    grid-column: span 2;
}
.output {
    grid-column: 1 / -1;
    background-color: black;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    flex-direction: column;
    padding: 20px;
    border-radius: 2px;
    color: white;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
}